#chatbox {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

#chatbox-history {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 1 1 0;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

#chatbox-history::-webkit-scrollbar {
  width: 10px;
}

#chatbox-history::-webkit-scrollbar-track {
  background: #333;
}

#chatbox-history::-webkit-scrollbar-thumb {
  background: #CCC;
}

#chatbox-history > div {
  font-size: 1rem;
  padding: 2px 8px;
  word-break: break-all;
}

#chatbox-input-row {
  width: 100%;
  display: flex;
  flex: 0 0 1.2em;
}

#chatbox-input {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  color: #FFF;
  padding: 4px 8px;
  flex: 1 1 0;
}

#chatbox-btn-send {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border: none;
  outline: none;
  border-left: 1px solid #CCC;
  padding: 0 8px;
}

#chatbox-btn-send:hover {
  background: rgba(80, 80, 80, 0.8);
}

.game-btn {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.game-btn-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#game-menu-window {

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#game-menu-window-title {
  border: 1px solid white;
  position: absolute;
  display: table-row;
  width: 100%;
  height: 20%;
  text-align: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-window-games-holder {
  border: 1px solid white;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.game-menu-window-games{
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.game-menu-window-games:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#game-menu-window-title-text{
  margin-top: 20px;
  display:block;
  font-weight: bold;
  color: white;
}

#game-menu-window-yes-no{
  border: 1px solid white;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

