#chatbox {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

#chatbox-history {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 1 1 0;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

#chatbox-history::-webkit-scrollbar {
  width: 10px;
}

#chatbox-history::-webkit-scrollbar-track {
  background: #333;
}

#chatbox-history::-webkit-scrollbar-thumb {
  background: #CCC;
}

#chatbox-history > div {
  font-size: 1rem;
  padding: 2px 8px;
  word-break: break-all;
}

#chatbox-input-row {
  width: 100%;
  display: flex;
  flex: 0 0 1.2em;
}

#chatbox-input {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  color: #FFF;
  padding: 4px 8px;
  flex: 1 1 0;
}

#chatbox-btn-send {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border: none;
  outline: none;
  border-left: 1px solid #CCC;
  padding: 0 8px;
}

#chatbox-btn-send:hover {
  background: rgba(80, 80, 80, 0.8);
}

.game-btn {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.game-btn-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#game-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid #CCC;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-title {
  border-bottom: 2px solid #CCC;
  flex: 0 0 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-menu.games > #game-menu-games { display: flex; }
#game-menu.join > #game-menu-join { display: flex; }
#game-menu.spectate > #game-menu-spectate { display: flex; }
#game-menu.waiting > #game-menu-waiting { display: block; }

#game-menu-games {
  display: none;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
  bottom: 0;
}

#game-menu-join, #game-menu-spectate {
  flex: 1 1 0;
  display: none;
  width: 100%;
}

#game-menu-join > div, #game-menu-spectate > div, #game-menu-games > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-menu-join > div:hover, #game-menu-spectate > div:hover, #game-menu-games > div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#game-menu-waiting {
  flex: 1 1 0;
  display: none;
  background-image: url(../Images/waiting.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#game-menu-title-closebtn {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 6px;
  display: block;
  background-image: url(../Images/x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#game-overlay-window {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

#game-overlay-window-turn {
  position: absolute;
  width: 100%;
  height: 10%;
  margin-top: 100%;
  font-size: 30px;
  display:none;
}

#game-overlay-window-leave {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px white solid;
  bottom: 0;
}

#game-overlay-window-leave:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
