#chatbox {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

#chatbox-history {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 1 1 0;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

#chatbox-history::-webkit-scrollbar {
  width: 10px;
}

#chatbox-history::-webkit-scrollbar-track {
  background: #333;
}

#chatbox-history::-webkit-scrollbar-thumb {
  background: #CCC;
}

#chatbox-history > div {
  font-size: 1rem;
  padding: 2px 8px;
  word-break: break-all;
}

#chatbox-input-row {
  width: 100%;
  display: flex;
  flex: 0 0 1.2em;
}

#chatbox-input {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  color: #FFF;
  padding: 4px 8px;
  flex: 1 1 0;
}

#chatbox-btn-send {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border: none;
  outline: none;
  border-left: 1px solid #CCC;
  padding: 0 8px;
}

#chatbox-btn-send:hover {
  background: rgba(80, 80, 80, 0.8);
}

.game-btn {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.game-btn-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#game-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #000;
}

#game-menu-title {
  border-bottom: 2px solid #772108;
  flex: 0 0 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4px;
}

#game-menu.games > #game-menu-games { display: flex; }
#game-menu.join > #game-menu-join { display: flex; }
#game-menu.spectate > #game-menu-spectate { display: flex; }
#game-menu.waiting > #game-menu-waiting { display: block; }

#game-menu-games {
  display: none;
  flex: 1 1 0;
  flex-direction: column;
  margin: 4px 8px 8px;
  bottom: 0;
  overflow-y: scroll;
}

#game-menu-games::-webkit-scrollbar { width: 10px; }
#game-menu-games::-webkit-scrollbar-track { background: #e0a466; border-radius: 4px }
#game-menu-games::-webkit-scrollbar-thumb { background: #772108; border-radius: 4px; }

#game-menu-join, #game-menu-spectate {
  flex: 1 1 0;
  display: none;
  width: 100%;
}

#game-menu-join > div, #game-menu-spectate > div, #game-menu-games > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
}

#game-menu-games > div {
  padding: 16px;
  border-bottom: 1px solid #772108;
  min-height: 100px;
}

#game-menu-join > div:hover, #game-menu-spectate > div:hover, #game-menu-games > div:hover {
  background-color: rgba(119, 33, 8, 0.2);
}

#game-menu-waiting {
  flex: 1 1 0;
  display: none;
  background-image: url(Images/waiting.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 16px;
}

#game-overlay-window {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

#game-overlay-window-leave {
  text-align: center;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);;
}

#game-overlay-window-leave:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#admit-prompt {
  transition: transform 1s ease-in-out;
  will-change: transform;
  transform: translateX(100%);
}

#admit-prompt.show {
  transform: translateX(0);
}
