#chatbox {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

#chatbox-history {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 1 1 0;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
}

#chatbox-history::-webkit-scrollbar {
  width: 10px;
}

#chatbox-history::-webkit-scrollbar-track {
  background: #333;
}

#chatbox-history::-webkit-scrollbar-thumb {
  background: #CCC;
}

#chatbox-history > div {
  font-size: 1rem;
  padding: 2px 8px;
  word-break: break-all;
}

#chatbox-input-row {
  width: 100%;
  display: flex;
  flex: 0 0 1.2em;
}

#chatbox-input {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  color: #FFF;
  padding: 4px 8px;
  flex: 1 1 0;
}

#chatbox-btn-send {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  border: none;
  outline: none;
  border-left: 1px solid #CCC;
  padding: 0 8px;
}

#chatbox-btn-send:hover {
  background: rgba(80, 80, 80, 0.8);
}

.game-btn {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.game-btn-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#game-menu {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#game-menu-title {
  border: 1px solid white;
  position: absolute;
  display: table-row;
  width: 100%;
  height: 20%;
  text-align: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-games {
  border: 1px solid white;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-join {
  border: 1px solid white;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-spectate {
  border: 1px solid white;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

#game-menu-waiting {
  border: 1px solid white;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../Images/waiting.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#game-menu-title-closebtn {
  z-index:99;
  position:absolute;
  right: 0;
  height: 50%;
  width: 5%;
  display: block;
  margin: 5px;
  background-image: url(../Images/x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.game-menu-cards {
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.game-menu-cards:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


#game-overlay-window {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

#game-overlay-window-turn {
  position: absolute;
  width: 100%;
  height: 10%;
  margin-top: 100%;
  font-size: 30px;
  display:none;
}

#game-overlay-window-leave {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px white solid;
  bottom: 0;
}


#game-overlay-window-leave:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
