[build]

  base = "./"
  publish = "build-out/"
  command = "echo 'No Build'"

[context.production]
  publish = "dist/"
  command = "(parcel build web/index.html --out-dir game-dev-dist) && (parcel build game/index.html --out-dir game-dev-dist/game --public-url ./) && (cp -r game/Images game-dev-dist/game/Images)"

[context.react-staging]
  publish = "react-staging-dist/"
  command = "parcel build web/index.html --out-dir react-staging-dist && cp -r game react-staging-dist/game"

[context.game-dev]
  publish = "game-dev-dist/"
  command = "(parcel build web/index.html --out-dir game-dev-dist) && (parcel build game/index.html --out-dir game-dev-dist/game --public-url ./) && (cp -r game/Images game-dev-dist/game/Images)"

[[redirects]]
  from = "/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "server/functions"
