[build]
  base = "./"
  publish = "build-out/"
  command = "echo 'No Build'"

[context.production]
  publish = "dist/"
  command = "parcel build web/index.html && cp -r game dist/game"

[context.react-staging]
  publish = "react-staging-dist/"
  command = "parcel build web/index.html --out-dir react-staging-dist && cp -r game react-staging-dist/game"

[context.game-dev]
  publish = "game-dev-dist/"
  command = "parcel build web/index.html --out-dir game-dev-dist && cp -r game game-dev-dist/game"

[dev]
  autoLaunch = false

[[redirects]]
  from = "/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin.html"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/admin/*"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/admin.html"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "server/functions"
