[build]

  base = "./"
  publish = "build-out/"
  command = "echo 'No Build'"

[context.production]
  publish = "dist/"
  command = "parcel build web/index.html"

[context.ZH-dev]
  publish = "ZH-dev-dist/"
  command = "parcel build web/index.html --out-dir ZH-dev-dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "server/"
