input.form-control {
  border-radius: 4px;
  border: 1px solid var(--color-dark-gray);
  padding: 8px 8px;
  outline: none;
}

button.btn {
  border-radius: 4px;
  outline: none;
  padding: 8px;
  width: 100%;
  position: relative;
  transition: background-color ease-in 0.3s;
}

button.btn.btn-primary {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-font-light);
}

button.btn.btn-primary-dark {
  color: var(--color-font);
}

button.btn.btn-primary:disabled, button.btn.btn-primary:disabled:hover {
  background-color: var(--color-dark-gray);
}

button.btn.btn-primary:hover {
  background-color: var(--color-secondary);
}

button.btn.btn-accent {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-font);
}

button.btn.btn-accent:hover {
  background-color: var(--color-accent-secondary);
}

button.btn.btn-accent:disabled, button.btn.btn-accent:disabled:hover {
  background-color: var(--color-dark-gray);
}

button.btn.loading {
  transition: border linear 0.2s, background ease-in 0.5s;
  background: transparent;
}

button.btn.loading > * {
  visibility: hidden;
  opacity: 0;
}

button.btn.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}